.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  padding: 0 20px 9px;

  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  font-family: Karla;
  text-align: center;
  color: #212121;
  font-style: normal;

  background-color: #73d677;
  border: none;
  border-radius: 11px;
  outline: none;
  box-shadow: inset 0 -9px 0 rgba(0, 0, 0, 0.18);
  cursor: pointer;

  &.yellow {
    background-color: #f2cb07;
  }

  &.wide {
    width: 100%;
  }

  &.small {
    padding: 0 10px 5px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  }

  &:active {
    padding-bottom: 6px;

    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.18);
  }
}
