@import '../../variables';

.root {
  min-height: 100vh;
  background-image: linear-gradient(180deg, $third, $primary);
  overflow: hidden;
}

.contentWrap {
  display: flex;
  margin-top: 70px;
  margin-bottom: 10px;
  align-items: center;
}

.contentText {
  display: block;
  font-family: 'Karla';

  p {
    margin: 64px 0;
    font-size: 32px;
    line-height: 37px;
  }
}

.contentParallax {
  display: block;
}
