.h1 {
  margin: 0;

  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

.h2 {
  margin: 0;

  font-size: 64px;
  line-height: 74px;
}

.h3 {
  margin: 0;

  font-size: 36px;
  line-height: 42px;
}

.h4 {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.h5 {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.h6 {
  margin: 0;

  font-size: 12px;
  line-height: 14px;
}
