.header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;

  background-color: #f5db13;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1124px;
  margin: 0 auto;
  padding: 14px 0 16px;
}

.logoLink {
  flex-shrink: 0;
}

.svg {
  display: block;
}

.menu {
  display: flex;
  align-items: center;

  list-style: none;
}

.item {
  margin: 0 30px;

  &:last-child {
    margin-right: 0;
  }
}

.menuLink {
  position: relative;

  padding-bottom: 19px;

  font-size: 25px;
  line-height: 29px;
  color: #212121;
  text-decoration: none;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 3px;

    border-radius: 3px;
  }
}

.menuLinkActive {
  cursor: auto;

  &::after {
    background-color: #212121;
  }
}
